
.blog-post-carousel {
    display: flex;
    justify-content: center;
    overflow: hidden;
    background-color: aliceblue;
    margin: 0 auto;
    width: 90%;
    border-radius: 5px;
    background-color: var(--white) 0%;
}

.blog-post-carousel a {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    color: var(--black);
    
}

.blog-post-carousel-container {
    --blogs-per-screen: 4;
    --blog-carousel-index: 0;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    width: calc(100% - 119px);
    transform:  translateX(calc(var(--blog-carousel-index) * -100%));
    transition: transform 100ms ease-in-out;
}

.blog-post-carousel-container > .carousel-post {
    flex: 0 0 calc(100% / var(--blogs-per-screen));
    max-width: calc(100% / var(--blogs-per-screen) - 20px);
    aspect-ratio: 16 / 9;
    border: 1px solid black;
    color: black;
    border-radius: 5px;
    margin: 10px;
    background-color: var(--white);
    display: flex;
    height: 350px;
    max-height: 350px;
    position: relative;
}

.carousel-post-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.carousel-post-text h2 {
    margin-top: 5px;
    text-align: center;
}

.carousel-post-text span {
    text-align: left;
    margin-left: 1em;
    font-size: 1em;
}

.carousel-readmore,
.carousel-readmore-background {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20%;
    padding: 10px;
    visibility: hidden;
}

.carousel-readmore {
    text-align: center;
    font-size: 2rem;
}

.carousel-readmore-background {
    background-color: var(--orange);
    opacity: 0.8;
}

.carousel-post:hover .carousel-readmore{
    visibility: visible;
}

.carousel-post:hover .carousel-readmore-background{
    visibility: visible;
}


/* remember to check all images and adjust css  */

.carousel-img-container {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    width: auto;
    max-height: 250px;
    border-radius: 0 0 4px 4px ;
    margin: 3px;
}

.carousel-btn {
    flex-grow: 0;
    flex-shrink: 0;
    width: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: var(--black);
    color: var(--white);
    z-index: 10;
    font-size: 40px;
    border: none;
    border: 1px solid var(--white);
}

.carousel-btn:hover {
    color: var(--black);
    background-color: var(--white);
}

.next-btn {
    border-radius: 0 5px 5px 0; 
}
.previous-btn {
    border-radius: 5px 0 0 5px; 
}
