/* main section for the index.html */

.index-top-image-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    border-radius: 4px;
}

.index-top-image-container {
    background-image: url(../media/images/IMG_2758.jpg);
    height: 600px;
    width: 90%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px auto;
}

.index-top-image-container h1 {
    z-index: 1;
    position: absolute;
    color: var(--black);
    font-size: var(--fs-logo);
    font-weight: bold;
    background-color: var(--light-orange);;
    padding: 10px 30px;
    border-radius: 4px;
}

.index-latest-post-header {
    width: 90%;
    margin: 40px auto;
}

.index-latest-post-header h2 {
    color: var(--white);
    text-align: center;
}

.index-latest-post-header-underline {
    border-top: 3px solid var(--light-orange);
    border-radius: 10px;
}
