/* main section for the index.html */

.index-top-image-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;   
}

.index-top-image-container img {
    margin: 10px;
    width: 100%;
}

.index-top-image-container p {
    z-index: 1;
    position: absolute;
    color: var(--black);
    font-size: var(--fs-logo);
    font-weight: bold;
    background-color: var(--light-orange);;
    padding: 10px 30px;
    border-radius: 3px;
}