




@media screen and (max-width: 900px){

    /* header start */

    .nav-hamburgermenu-icon {
        display: block;
        cursor: pointer;
        margin-right: 30px;
    }

    .nav-hamburgermenu-icon.active .bar:nth-child(2) {
        opacity: 0;
    }

    .nav-hamburgermenu-icon.active .bar:nth-child(1) {
        transform: translateY(10px) rotate(45deg);
    }

    .nav-hamburgermenu-icon.active .bar:nth-child(3) {
        transform: translateY(-10px) rotate(-45deg);
    }

    .nav-menu-container {
        position: absolute;
        display: none;
        right: -100%;
        overflow: hidden;
        justify-content: center;
        text-align: center;
        transition: 0.4s ease-in-out;
        background-color: var(--light-orange);
    }

    .nav-menu-container ul {
        flex-direction: column;
        margin-top: 50px;
    }

    .nav-menu-container li,
    .nav-menu-container a {
        display: block;
    }


    .nav-menu-container.active {
        display: block;
        position: absolute;
        right: 0;
        width: 200px;
        height: 100%;
        top: 70px;
        transition: 0.4s ease-in-out;
        z-index: 2;
    }

     /* header stop */

     /* index main start */

    .index-top-image-container {
        height: 350px;
    }

     /* index main stop */



    
}

@media screen and (max-width: 650px) {

    /* media queries for fonts only start*/

    :root {
        --fs-logo: 1.3rem;
    }

    /* media queries for fonts only stop*/

    /* header start */

    .nav-logo-container img {
        max-height: 60px;
    }

    .nav-menu-container.active {
        top: 60px;
    }

    /* header stop */

    /* index main start */

    .index-top-image-container {
        height: 250px;
    }

}


@media screen and (max-width: 500px) {

    /* header start */

    .nav-logo-container img {
        max-height: 50px;
    }

    .nav-menu-container.active {
        top: 50px;
    }

    /* header stop */


}