@import "./variables.css";
@import "./header.css";
@import "./mediaqueries.css";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    background: linear-gradient(90deg, var(--black), var(--less-black));
}

nav, .nav-logo-container a  {
    background-color: var(--light-orange);
    color: var(--black);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
}

